<div class="card">
  <div class="card-body">
    <h5 class="card-title fw-bold">Edit Number Storage</h5>
      <%= render 'form', number_storage: @number_storage %>
    </div>
  </div>

<%= link_to 'Show', @number_storage %> |
<%= link_to 'Back', number_storages_path %>
