<div class="card">
  <div class="card-body">
    <h5 class="card-title fw-bold">New Number Storage</h5>
    <%= render 'form', number_storage: @number_storage %>
    <%= link_to 'Back', number_storages_path %>
  </div>
</div>
